<link rel="stylesheet" href="~/css/FooterCSS.css" asp-append-version="true" />

@* <footer class="footer fixed-bottom align-items-center">
    <div class="footer__addr">
        <div class="footer__logo">
            <img src="https://s3-alpha-sig.figma.com/img/0fa3/ddfb/0ff297a05f7d31b19f573c07bf884221?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Iy3hpe07wD6Rb3VHafJpn9gartlz4MB9tWaQKzzr-lZfrKb-YksUBlg39xNFGPbX153Ug8yx2ktmMkaQ~ONvVdxoH0tJZG9qb8dB6s9V8kBtSm0Xlsw86GS9Avs9GCpdPs-Q3vbPDBkV5wR33DcKZmYU6Vr~Cxqn9d5Na4Qm3gRQmmRyHr0fZBCrz0Hq9v26GsXWUVU6qY-RwBp8BJiW4gwXwqi84PuJarIqMUzaPVqlc2z4HVJtvski3ffgymqSMaBzwe7~yIhGKy58Vc~VPXniTXlUxjckTIzo1pQS1jYgoa9aU-6cCw-5cDjldHX1PEbXicQvnUkZESfHg79Tow__" />
        </div>
        <h2>บริษัท ปตท. น้ำมันและการค้าปลีก จำกัด (มหาชน)</h2>
        <h2>&copy; @DateTime.Now.Year OR</h2>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Media</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Online</a>
                </li>

                <li>
                    <a href="#">Print</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">Hardware Design</a>
                </li>
            </ul>
        </li>
    </ul>
</footer> *@

<footer class="site-footer fixed-bottom">
    <div class="hiden-footer">
        <div class="footer__logo">
            <img src="https://s3-alpha-sig.figma.com/img/0fa3/ddfb/0ff297a05f7d31b19f573c07bf884221?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Iy3hpe07wD6Rb3VHafJpn9gartlz4MB9tWaQKzzr-lZfrKb-YksUBlg39xNFGPbX153Ug8yx2ktmMkaQ~ONvVdxoH0tJZG9qb8dB6s9V8kBtSm0Xlsw86GS9Avs9GCpdPs-Q3vbPDBkV5wR33DcKZmYU6Vr~Cxqn9d5Na4Qm3gRQmmRyHr0fZBCrz0Hq9v26GsXWUVU6qY-RwBp8BJiW4gwXwqi84PuJarIqMUzaPVqlc2z4HVJtvski3ffgymqSMaBzwe7~yIhGKy58Vc~VPXniTXlUxjckTIzo1pQS1jYgoa9aU-6cCw-5cDjldHX1PEbXicQvnUkZESfHg79Tow__" />
        </div>
        <p class="mb-0 mt-1">
            บริษัท ปตท. น้ำมันและการค้าปลีก จำกัด (มหาชน)
        </p>
        <p>
            &copy; @DateTime.Now.Year OR
        </p>
    </div>
    <div class="row ms-5 remain-footer">
        <div class="col-sm-12 col-md-3 first-show">
            <div class="footer__logo">
                <img src="https://s3-alpha-sig.figma.com/img/0fa3/ddfb/0ff297a05f7d31b19f573c07bf884221?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Iy3hpe07wD6Rb3VHafJpn9gartlz4MB9tWaQKzzr-lZfrKb-YksUBlg39xNFGPbX153Ug8yx2ktmMkaQ~ONvVdxoH0tJZG9qb8dB6s9V8kBtSm0Xlsw86GS9Avs9GCpdPs-Q3vbPDBkV5wR33DcKZmYU6Vr~Cxqn9d5Na4Qm3gRQmmRyHr0fZBCrz0Hq9v26GsXWUVU6qY-RwBp8BJiW4gwXwqi84PuJarIqMUzaPVqlc2z4HVJtvski3ffgymqSMaBzwe7~yIhGKy58Vc~VPXniTXlUxjckTIzo1pQS1jYgoa9aU-6cCw-5cDjldHX1PEbXicQvnUkZESfHg79Tow__" />
            </div>
            <p class="mb-0 mt-1">
                บริษัท ปตท. น้ำมันและการค้าปลีก จำกัด (มหาชน)
            </p>
            <p>
                &copy; @DateTime.Now.Year OR
            </p>
        </div>
        
        

        <div class="col-xs-6 col-md-8 containe-footer-row">
            <div class="footer-row">
                <div class="footer-col1">
                    <p><strong>ติดต่อเรา :</strong></p>
                </div>
                <div class="footer-col2">
                    <p><strong>สำนักงานใหญ่</strong></p>
                    <p>ที่อยู่ : 555/2 ศูนย์เอนเนอร์ยี่คอมเพล็กซ์ อาคาร บี ชั้นที่ 12 ถนนวิภาวดีรังสิต แขวงจตุจักร เขตจตุจักร กทม.</p>
                    <p>โทรศัพท์ : 02-196-5959</p>
                </div>

                <div class="footer-col3">
                    <p><strong>คลังน้ำมันพระโขนง</strong></p>
                    <p>ที่อยู่ : 555 ถ.อาจณรงค์ แขวงคลองเตย เขตคลองเตย กรุงเทพฯ 10260</p>
                    <p>โทรศัพท์ : 0-2239-7001-3 </p>
                </div>
            </div>
        </div>
    </div>
</footer>