<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    @* <meta name="viewport" content="width=1440, height=1024, initial-scale=1, maximum-scale=1, user-scalable=0"> *@
    <title>@ViewData["Title"] - OR_Meeting_design</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ScrollbarCss.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OR_Meeting_design.styles.css" asp-append-version="true" />
</head>
<body>
    @if ((bool)ViewData["ShowHeaderAndFooter"])
    {
        @await Html.PartialAsync("_Header")
    }
    <div class="container">
        <main role="main" class="pb-3">
            @await Html.PartialAsync("_NavMobile")
            @RenderBody()
        </main>
    </div>

    @if ((bool)ViewData["ShowHeaderAndFooter"])
    {
        @await Html.PartialAsync("_Footer")
    }

    @* <footer class="fixed-bottom">
        <div class="text-center p-3" style="background-color:azure;">
            &copy; @DateTime.Now.Year - AgileRap_Process2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
